<section class="form-container">
    <div class="title">Unauthorized</div>
    <div class="message">
        You have not logged in and cannot view the dashboard.
      <br/><br/>
      <a href="/" class="body-link">Login to continue.</a>
    </div>
</section>