<section class="main-container">
  <div class="form-container">  
    <passage-auth app-id="<%= Rails.application.config.passage_app_id %>"></passage-auth>
    <script src="https://cdn.passage.id/passage-web.js"></script> 
  </div>
</section>